*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.wrapper{
    background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
    height: 100vh;
}

.navbar-logo-link{
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}


.navbar-logo-link p {
    margin-left: 20px;
    color: white;
}

.navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    color: white;
}

.navbar-list li > a{
    color: white;
}

.navbar-btn{
    padding: 10px;
    border: 1.5px solid #FFFFFF 20px;
    color: white;
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
    border-radius: 50px;
}

.header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img{
    width: 100%;
    display: flex;
}

.header-item h2{
    font-weight: 700;
    font-size: 85px;
    line-height: 100px;
    letter-spacing: -2px;
    color: #FFFFFF;
    width: 600px;
}

.header-item p {
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    color: #FFFFFF;
    width: 500px;
}